// ----- REGULAR -----
@font-face{

  font-family: 'Rooney Sans';
  
  src: url('../fonts/RooneySans-Regular.eot');
  
  src: url('../fonts/RooneySans-Regular.eot?iefix') format('eot'),
  
  url('../fonts/RooneySans-Regular.woff') format('woff'),
  
  url('../fonts/RooneySans-Regular.woff2') format('woff2'),

  url('../fonts/RooneySans-Regular.ttf') format('truetype');
  
  font-weight: normal;
  
  font-style: normal;
}
// ----- /REGULAR -----

// ----- BOLD -----
@font-face{

  font-family: 'Rooney Sans';
  
  src: url('../fonts/RooneySans-Bold.eot');
  
  src: url('../fonts/RooneySans-Bold.eot?iefix') format('eot'),
  
  url('../fonts/RooneySans-Bold.woff') format('woff'),
  
  url('../fonts/RooneySans-Bold.woff2') format('woff2'),

  url('../fonts/RooneySans-Bold.ttf') format('truetype');
  
  font-weight: bold;
  
  font-style: normal;
}
// ----- /BOLD -----

// ----- HEAVY -----
@font-face{

  font-family: 'Rooney Sans Heavy';
  
  src: url('../fonts/RooneySans-Heavy.eot');
  
  src: url('../fonts/RooneySans-Heavy.eot?iefix') format('eot'),
  
  url('../fonts/RooneySans-Heavy.woff') format('woff'),
  
  url('../fonts/RooneySans-Heavy.woff2') format('woff2'),

  url('../fonts/RooneySans-Heavy.ttf') format('truetype');
  
  font-weight: normal;
  
  font-style: normal;
}
// ----- /HEAVY -----

// ----- BLACK -----
@font-face {

  font-family: 'Rooney Sans';
  
  src: url('../fonts/RooneySans-Black.eot');
  
  src: url('../fonts/RooneySans-Black.eot?iefix') format('eot'),
  
  url('../fonts/RooneySans-Black.woff') format('woff'),
  
  url('../fonts/RooneySans-Black.woff2') format('woff2'),

  url('../fonts/RooneySans-Black.ttf') format('truetype');
  
  font-weight: 900;
  
  font-style: normal;
}
// ----- /BLACK -----

  
  